body {
    background-color: #61380B;
}

header, #menu ul {
    background-color: #CC9966;
}

header a {
        color:white;
    }

.pyf {
    width: 100px;
    float: left;
}

    #menu {
        float: right;
    }

#seccion-galeria {
    width: 100%;
}