body {
    background-color: #61380B;
}

header, #menu ul {
    background-color: #CC9966;
}

header {
    height: 120px;
}

header a {
        color:white;
    }

.pyf {
    width: 100px;
    float: left;
}

    #menu {
        float: right;
    }

#seccion-galeria {
    width: 100%;
}

    #icon-albums {
        font-family: SegoeMDL2;
    }

    #controles1, #controles2 {
        clear: both;
        float: right;
        position: static;
    }