@font-face {
    font-family: "Avenir-next-regular";
    src: url("../fuentes/AvenirNextLTPro-Regular.otf");
}
@font-face {
    font-family: "Avenir-next-Ulight";
    src: url("../fuentes/Avenir Next LT W01 Ultra Light.otf");
}
@font-face {
    font-family: "Avenir-next-mediumcn";
    src: url("../fuentes/AvenirNextLTPro-MediumCn.otf");
}

@media screen and (min-device-width:800px){
    body, header, #principal, footer {
        min-width: 800px;
    }
}

* {
    margin: 0;
    padding: 0;
}

header, #principal, footer {
    width: 100%;
}

header a {
    list-style: none;
    text-decoration: none;
}

#principal {
    font-family: Avenir-next-Ulight;
}