body, header {
    background-color: #FFFFFF;
}

#portada {
    width: 100%;
    height: auto;
}

/*.contenido {
    height: 500px;
    background-color: red;
}*/

    header a, header a:visited {
        color: #CC9966;
    }

    .pyf {
        width: 100px;
        float: left;
    }

    #menu {
        float: right;
    }

    .cart {
        margin-left: auto;
        margin-right: auto;
        font-size: 14px;
    }

.contenido {
        background-color: #336699;
        color: #FFFFFF;
        font-family: Avenir-Next-Ulight
        /*font-family: Univers-Light;*/
}

.vacio {
    background-size: cover;
}

#v1 {
    background-image: url("../img/HistoriaSec.jpg");
}

#v2 {
    background-image: url("../img/HistoriaTerc.jpg");
}