@media screen and (min-device-width:800px) {
    #menu {
        font-size: 25px;
        float: right;
        margin-right: 2%;
        position: relative;
    }

    #ul_menu {
        
    }

        #ul_menu li{
            margin-left: 7px;
            margin-right: 7px;
            display: inline;
        }

        #imgMenu {
            display: none;
        }
}

@media screen and (max-device-width:799px) {
    #imgMenu {
        width: 50px;
        height: 50px;
        float: right;
        position: relative;
        display: initial;
    }

    #ul_menu {
        margin-top: 70px;
        margin-right: 10px;
        list-style: none;
    }

        #ul_menu li{
            margin-bottom: 15px;
            margin-left: 7px;
            display: none;
        }
}

#menu {
    font-family: Avenir-next-regular;
}

.a_menu {
    width: 100%;
    text-decoration: none;
    font-weight: bold;
    font-size: 25px;
}

    .a_menu:hover {
        opacity: 0.85;
    }