#menu {
    font-size: 25px;
    float: right;
    margin-right: 2%;
    position: relative;
}

#ul_menu {
    background-color: black;
}

    #ul_menu li{
        margin-left: 7px;
        margin-right: 7px;
        display: inline;
    }

        .a_menu {
            text-decoration: none;
        }

        .a_menu:hover {
            opacity: 0.85;
        }

    #imgMenu {
        width: 50px;
        height: 50px;
        margin-bottom: 20px;
        float: right;
        display: none;
        position: relative;
    }