body {
    background-image: url("../img/background2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

header {
    min-height: 125px;
    height: auto;
    background-color: #FFF;
}

    header a {
color: #336699;
        list-style: none;
    }

    .pyf {
        margin-left: 2%;
        margin-top: 30px;
        font-size: 20px;
        float: left;
        color: white;
    }

        .pyf a {
            text-decoration: none;
            color: #336699;
        }

    #menu {
        float: right;
        margin-top: 72px;
    }

#principal {
    min-height: 500px;
}

    #principal div {
        width: 200px;
        margin-left: auto;
        margin-right: auto;
        background-color: white;
    }

    #principal div form {
        width: 100%;
        height: auto;
        margin-top: 100px; 
    }

        #titulo {
            font-size: 23px;
            margin-bottom: 5px;
            text-align: center;
            color: green;
        }

        #codigo {
            width: 55%;
            float: left
        }

        #submit {
            width: 40%;
            float: right;
        }