body {
    background-image: url("../img/PasePortada.jpg");
    background-size: cover;
    background-repeat: no-repeat;

    background-position-y: 125px;
}

header {
    min-height: 125px;
    height: auto;
    background-color: #FFF;
}

    header a {
        color: #336699;
        list-style: none;
    }

    .pyf {
        margin-left: 2%;
        margin-top: 30px;
        font-size: 20px;
        float: left;
        color: white;
    }

        .pyf a {
            text-decoration: none;
            color: #336699;
        }

    #menu {
        float: right;
        margin-top: 72px;
    }

#principal {
    min-height: 500px;
}

    #div-formC {
        width: 250px;
        height: 150px;

        background-color: white;
        opacity: 0.95;

        border-radius: 12px;
    }

    #div-formC form {
        width: 100%;
        height: auto;
    }

        #titulo {
            font-size: 23px;
            padding-bottom: 15px;
            padding-top: 25px;
            text-align: center;
            color: #CC9966;
        }

        #codigo {
            width: 120px;
            float: left;
            border: 1px solid #336699;
            color: #336699;

            margin-left: 15px;
        }

        #submit {
            width: 80px;
            margin-right: 25px;
            float: right;
            background-color: #336699;
            color:white;
            border: 2px solid #336699;
        }

        #forgot {
            width: 200px;;
            margin-left: auto;
            margin-right: auto;
            margin-top: 30px;
            text-align: center;
        }

            #forgot a,  #forgot a:visited {
                color: #336699;
            }