/***** General *****/
body, header {
    background-color: black;
}

header {
    color: white;
}

    header a, header a:visited {
        color:white;
    }

    .pyf {
        float: left;
    }

    #menu a, #menu a:visited {
        color: white;
    }

    #menu {
        float: right;
    }

#principal {
    height: auto;
    min-height: 500px;
}

    .imgPortada {
        width: 100%;
        height: auto;
    }

    .frase {
        background-color: #FFFFCC;
        color: #996633;
    }

    .frase article {
        margin-left: auto;
        margin-right: auto;
    }

    #vacio {
        background-image: url("../img/background1.jpg");
        background-attachment: fixed;
        background-size: cover;
    }

footer {
    background-color: green;
}