/***** Movil *****/
@media all and (orientation: portrait) and (max-width: 450px) {
    #vacio {
        height: 220px;
        background-attachment: initial !important;
        background-repeat: no-repeat;
    }

    .frase article {
        width: 80%;
        padding-top: 10%;
        padding-bottom: 10%;
    }

    footer {
        height: 150px;
    }
}

@media all and (orientation: portrait) and (max-width: 799px) and (min-width: 451px) {
    #vacio {
        height: 500px;
        background-position-y: 250px;
        background-position-x: -350px;
    }

    .frase article {
        width: 75%;
        padding-top: 12.5%;
        padding-bottom: 12.5%;
    }

    footer {
        height: 100px;
    }
}

@media all and (orientation: landscape) {
    #vacio {
        height: 400px;
    }

    footer {
        height: 150px;
    }
}

header {
    height: 100px;
    position: initial;
}

    .pyf {
        width: 150px;
        margin-top: 15px;
        margin-left: 10px;

        font-size: 23px;
    }

    #menu {
        margin-top:20px;
        margin-right: 20px;
    }

/*** Section ***/
    

/*** Footer ***/
