/***** General *****/
body, header {
    background-color: #FFFFFF;
}

header {
    color: #FF9999;
}

    header a, header a:visited {
        color:#CC9966;
    }

    .pyf {
        float: left;
    }

    #menu a, #menu a:visited {
        color: #CC9966;
    }

    #menu {
        float: right;
    }

#principal {
    height: auto;
    min-height: 500px;
}

    .imgPortada {
        width: 100%;
        height: auto;
    }

    .frase {
        background-color: #FFFFFF;
        color: #CC9966;
    }

    .frase article {
        width: 85%;
        margin-left: auto;
        margin-right: auto;

        font-size: 17px;
    }

        .versiculo {
            width: 90%;
            margin-left: auto;
            margin-right: auto;
            margin-top: 20px;
        }

            .libro {
                float: right;
                margin-right: 2%;
                margin-bottom: 50px;
            }

    #vacio {
        background-image: url("../img/PortadaSec.jpg");
        background-attachment: fixed;
        background-size: cover;
    }

footer {
    background-color: white;
}

.fecha, #timer {
    font-family: Avenir-next-Ulight;
}

.fecha {
    text-decoration: none;
}