header {
    min-height: 120px;
}

    .pyf {
        margin-left: 2%;
        margin-top: 30px;
        font-size: 20px;
        color: white;
    }

    #menu {
        margin-top: 72px;
    }

#map-container {
    width: 45%;
    min-width: 400px;
    float: left;
}

#map {
    width: 100%;
    height: auto;
    min-height: 400px;
    margin-left: 2.5%;
}

#instrucciones {
    width: 45%;
    margin-right: 3%;
    padding-left: 5px;
    padding-bottom:15px;

    float: right;
}

    #h2-container {
        width: 100%;
    }

        #instrucciones h2 {
            width: 170px;
            float: left;
        }

        #lugar {
            float: left;
            margin-left: 5%;
            margin-top: 7px;
        }

#instrucciones table {
    width: 100%;
    height: auto;
    margin-top:10px;
}

    .imgDir img {
        width: 80px;
        height: auto;
        padding: 10px;
    }


#ul-cont {
    width: 30%;
    display: inline-block;
}