body, header {
    background-color: white;
}

    header a, header a:visited {
        color:#336699;
    }

    .pyf {
        width: 100px;
        float: left;
    }

    #menu {
        float: right;
    }

    #map-container, #instrucciones {
        background-color: white;
    }